/** OphNuIntraoperative module styles */
/* line 17, ../sass/components/_event.scss */
.event {
  border-color: #aaaaaa;
}
/* line 19, ../sass/components/_event.scss */
.event .event-content {
  background-image: url('../img/watermark.png?1400240772');
}
/* line 22, ../sass/components/_event.scss */
.event .event-title {
  background-image: url('../img/medium.png?1400240772');
}

/* line 28, ../sass/components/_event.scss */
.Element_OphNuIntraoperative_TimeTracking input {
  width: 4em;
}

/* line 33, ../sass/components/_event.scss */
#Element_OphNuIntraoperative_OperationPrep_nasal_insert_time {
  width: 4.7em;
}

/* line 37, ../sass/components/_event.scss */
#Element_OphNuIntraoperative_OperationPrep_nasal_remove_time {
  width: 4.7em;
}

/* line 42, ../sass/components/_event.scss */
.addRecordItemDiv label {
  width: 10em;
  margin-top: 5px;
}
/* line 46, ../sass/components/_event.scss */
.addRecordItemDiv input.recordInput {
  width: 15em;
}
/* line 49, ../sass/components/_event.scss */
.addRecordItemDiv .large-2 {
  display: inline-block !important;
  margin-left: -2.2em;
  margin-top: 3px;
}
/* line 54, ../sass/components/_event.scss */
.addRecordItemDiv .recordTimestamp {
  width: 6.4em;
  display: inline-block;
}
/* line 58, ../sass/components/_event.scss */
.addRecordItemDiv .recordTime {
  width: 5em;
  display: inline-block !important;
}
/* line 62, ../sass/components/_event.scss */
.addRecordItemDiv .recordDateLabel {
  width: 12.1em;
}
/* line 65, ../sass/components/_event.scss */
.addRecordItemDiv .recordsUseLastItemDiv {
  width: 35%;
  margin: 0 auto;
}
